DEVICE={{ansible_default_ipv4.interface}}
BOOTPROTO=static
IPADDR={{pxe_ip_address}}
NETMASK={{ansible_default_ipv4.netmask}}
GATEWAY={{ansible_default_ipv4.gateway}}
HWADDR={{ansible_default_ipv4.macaddress}}
DEFROUTE=yes
NM_CONTROLLED=no
ONBOOT=yes
DNS1={{dns1}}
