DEVICE={{ item.value.name }}
IPADDR={{ item.value.ip_addr }}
MACADDR={{ item.value.mac_addr }}
GATEWAY={{ item.value.gateway }}
NETMASK=255.255.255.0
DNS1=192.168.70.3
DNS2=8.8.8.8
ONBOOT=yes
DEFROUTE=no
