DEVICE=ovsbr{{ item.value['vlan'] }}
ONBOOT=yes
DEVICETYPE=ovs
TYPE=OVSBridge
BOOTPROTO=static
IPADDR={{ item.value['ipaddr'] }}
{% if item.value['gateway'] is defined %}
GATEWAY={{ item.value['gateway'] }}
{% endif %}
NETMASK={{ item.value['netmask'] }}
HOTPLUG=no
DEFROUTE=no
{% if mtu is defined %}
MTU={{ mtu }}
{% endif %}
