DEVICE={{ item.value['bond'] }}.{{ item.value['vlan'] }}
MASTER={{ item.value['bond'] }}
VLAN=yes
ONBOOT=yes
DEVICETYPE=ovs
TYPE=OVSPort
OVS_BRIDGE=ovsbr{{ item.value['vlan'] }}
BOOTPROTO=none
{% if mtu is defined %}
MTU={{ mtu }}
{% endif %}


