<network>
  <name>lvnet{{ item.value['vlan'] }}</name>
  <uuid>{{  item.value['vlan'] | to_uuid }}</uuid>
  <bridge name="ovsbr{{ item.value['vlan'] }}" />
  <forward mode="bridge" />
  <virtualport type="openvswitch"/>
</network>
