<network>
  <name>{{ network_name }}</name>
  <uuid>{{ network_name | to_uuid }}</uuid>
  <bridge name="virbr100" />
  <forward mode="nat" />
  <ip address="{{ ip_addr }}" netmask="{{ netmask }}">
    <dhcp>
      <range start="192.168.100.100" end="192.168.100.150" />
      <host mac="52:54:00:8e:c0:c9" ip="192.168.100.11" name="controller1" />
      <host mac="52:54:00:1c:6e:8a" ip="192.168.100.12" name="controller2" />
      <host mac="52:54:00:81:4a:67" ip="192.168.100.13" name="controller3" />
      <host mac="52:54:00:c1:52:e4" ip="192.168.100.14" name="network1" />
      <host mac="52:54:00:3b:29:fb" ip="192.168.100.15" name="scaleio1" />
    </dhcp> 
  </ip>
</network>
