[swift-hash]
swift_hash_path_prefix = {{swift_pathprefix}}
swift_hash_path_suffix = {{swift_pathsuffix}}

[filter:ceilometer]
use = egg:ceilometer#swift
[pipeline:main]
pipeline = healthcheck cache authtoken keystoneauth proxy-server ceilometer
